<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
  <input type="checkbox" class="custom-control-input" id="size-1">
  <label class="custom-control-label" for="size-1"><%= size.size %></label>
  <span class="badge border font-weight-normal"><%= size.products.size %></span>
</div>
