<% provide :button_text, t(".edit") %>
<div class="form-container">
  <div class="form row">
    <div class="edit-account">
      <p class="form-title"><%= t ".title" %></p>
      <%= render "form" %>
    </div>
  </div>
</div>
