<tr>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td>
    <div class="action-btn">
      <%= link_to edit_admin_category_path(category) do %>
        <span class="fa fa-edit"></span>
      <% end %>
      <% if category.products.blank? %>
        <%= link_to admin_category_path(category), method: :delete, data: { confirm: t(".you_sure") } do %>
          <span class="fa fa-trash"></span>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
