<% provide :button_text, t(".update_btn") %>
<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="form-container">
    <div class="form row">
      <div class="edit-account">
        <p class="form-title"><%= t ".update_btn" %></p>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
