<div class="sidebar">
   <base href="admin">
   <h3 class="title"><%= t ".menu" %></h3>
   <div class="sidebar-button menu" >
      <span class="fa fa-shopping-cart"></span> <%= link_to "Quản lý Order", admin_orders_path, class: "sidebar-button"%>
   </div>
   <%= link_to "Đăng xuất", logout_path, method: :delete, class: "sidebar-button"%>
</div>
